#letter-view-container {
  width: 15%;
  position: relative;
  border-right: 3px solid #222;
}

#letter {
  color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: font-size 1s;
}

@media (min-width: 1100px) {
  #letter {
    font-size: 7em;
  }
}

@media (max-width: 1099px) {
  #letter {
    font-size: 4em;
  }
}

@media (min-height: 645px) {
  #letter {
    font-size: 7em;
  }
}

@media (max-height: 644px) {
  #letter {
    font-size: 4em;
  }
}
