#scatter-game-view {
  display: flex;
  flex-direction: column;
  width: 75%;
}

#scatter-game-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 15%;
  border: 3px solid #222;
  border-bottom: none;
}

#scatter-game-right {
  height: 85%;
  border: 3px solid #222;
}

@media (min-width: 1100px) {
  #scatter-game-left {
    min-width: 275px;
  }

  #scatter-game-right {
    min-width: 700px;
  }
}

@media (max-width: 1099px) {
  #scatter-game-left {
    min-width: 175px;
  }

  #scatter-game-right {
    min-width: 600px;
  }
}
