#lobby-rooms-container {
  width: 55%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.room {
  height: 120px;
  margin: 1em;
  cursor: pointer;
  border: 3px solid #444;
  box-shadow: 2px 2px 4px #999;
  flex-grow: 1;
  transition: height 0.5s ease, width 0.5s ease, box-shadow 0.5s ease,
    font-size 0.5s ease;
}

.room:hover {
  height: 140px;
  box-shadow: 4px 4px 8px #999;
  font-size: 1.2em;
}

.room .room-name {
  text-align: center;
}

.room .room-players {
  text-align: center;
  color: #666;
  font-weight: 500;
}

@media (min-width: 1000px) {
  .room {
    width: 340px;
  }
}
@media (max-width: 999px) {
  .room {
    width: 140px;
  }
}
